<template>
  <div>
    <la-example></la-example>
  </div>
</template>

<script lang="ts">
import {LaExample} from "@hartings/la-example";

export default {
  mounted() {
    if (window !== undefined) {
      window.customElements.define("la-example", LaExample);
    }
  }
}
</script>